%h2 Listing of all movies with the same Director of #{@movie.title}

%table#similar
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Director
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= movie.director

= link_to "Back to the #{@movie.title} detail page", movie_path(@movie)